---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import type { GetStaticPathsOptions } from "astro";
import type { Page } from "astro";
import Layout from "../../../Layout.astro";
import Empty from "../../../components/Empty.astro";
import Header from "../../../components/Header.astro";
import HeaderHero from "../../../components/HeaderHero.astro";
import PostCard from "../../../components/PostCard.astro";
import Breadcrumb from "../../../components/elements/Breadcrumb.astro";
import Grid from "../../../components/elements/Grid.astro";
import Pagination from "../../../components/elements/Pagination.astro";
import Section from "../../../components/elements/Section.astro";

type Data = CollectionEntry<"blog">;

interface Props {
	page: Page<Data>;
}

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
	const posts: Data[] = (
		await getCollection("blog", ({ data }) => data.draft !== true)
	).sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());
	return paginate(posts, { pageSize: 12 });
}

const headerColor1 = "rgba(100, 100, 50, 0.1)";
const headerColor2 = "rgba(50, 150, 50, 0.0)";
const headerColor3 = "rgba(150, 200, 150, 0.1)";
const linearColor1 = "rgba(50, 150, 50, 0.1)";
const background = "linear-gradient(135deg, #aaddcc6a, #aaddcc6a);";

const { page }: Props = Astro.props as Props;
---

<Layout
  title={`Archive ${page.currentPage} — Mermind`}
  description={`Articles from Mermind.`}
  canonicalUrl={`https://mermind.ai/blog/archive/${page.currentPage}`}
>
  <Header
	color1={headerColor1}
	color2={headerColor2}
	color3={headerColor3}
	linearColor1={linearColor1}
	background={background}
	>
    <div class="header--content">
      <div class="header-nav">
        <Breadcrumb>
          <li><a href="/blog" title="Blog">Blog</a></li>
          <li>Archive</li>
        </Breadcrumb>
      </div>
      <HeaderHero title="Archive" lead="Writing and notes we've published." />
    </div>
  </Header>
  <main class="main--content">
    <Section>
      {page.data.length === 0 && (
        <Empty>
          <p>No posts yet. Check back soon!</p>
        </Empty>
      )}
      {page.data.length > 0 && (
        <>
          <Grid columns={3}>
            {page.data.map((post) => (
              <PostCard postId={post.id} post={post.data} />
            ))}
          </Grid>
          <div class="section--footer">
            {page.lastPage > 1 && (
              <Pagination page={page} basePath="/blog/archive" />
            )}
          </div>
        </>
      )}
    </Section>
  </main>
</Layout>

<style>
  .header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    @media only screen and (min-width: 818px) {
      justify-content: flex-start;
    }
  }

  .main--content,
  .header--content {
    max-width: 68rem;
    margin: 0 auto;
  }
</style>
